@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

@layer utilities {
    .bg-gradient-custom-home {
        background: linear-gradient(#21115f, #121212);
    }

    .bg-gradient-custom-player {
        background: linear-gradient(90deg, #af2896, #509bf5);
    }

    .bg-gradient-custom-login {
        background: linear-gradient(#2a2a2a 0%, rgb(0, 0, 0) 100%);
    }
}
